@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1 {
  font-family: var(--font-adlam);
}

h2, ul {
  font-family: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* required to adjust some annoying layout Tailwind adds that makes flex components not take up full width */
*, ::before, ::after {
  box-sizing: content-box;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
